<div class="header">
	<nav class="navbar navbar-expand navbar-dark bg-dark">
		<a class="navbar-brand mr-5" routerLink="/" routerLinkActive="active">
			<img src="https://c.staticblitz.com/assets/stack_icons/angular-dce34d7ead93c4545d043ad1948f4d14c76c653fc6e970a12aaaeebad8806053.png" width="30" height="30" class="d-inline-block align-top" alt="" />
      <span class="ml-2" style="color: white">Blog</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">
            Home <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">
            About <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
      <span class="navbar-text">
        Welcome
      </span>
    </div>
  </nav>
</div>